@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

p{
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
}

body{
  box-sizing: border-box;
}

.error {
background-color: tomato;
color: white;
border-radius: 6px;
padding: 6px 12px;
font-weight: bold;
max-width: 400px;
margin-bottom: 18px;
}

input {
padding: 12px;
margin: 12px;
margin-left: 10px;
font-size: 14px;
border: 1px solid #ccc;
box-shadow: 0 1px 4px #ccc;
border-radius: 6px;
font-size: 18px;
width: 100%;
}

.container {
box-shadow: 0 1px 6px rgb(2, 13, 78);
border-radius: 6px;
display: flex;
height: auto;
align-items: center;
justify-content: center;
flex-direction: column;
width: 400px;
padding: 22px;
margin-bottom: 50px;
}

@media (max-width: 450px){
  .container{
    width: 320px;
  }
}

button {
background-color: teal;
border: none;
color: white;
padding: 12px;
margin: 12px 0;
box-shadow: 0 1px 6px rgb(221, 221, 221);
width: 100%;
border-radius: 6px;
font-size: 18px;
}

.App {
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
flex-direction: column;
}

.results-container {
margin-top: 10px;
height: auto;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.organization-name{
color:#0B070A;
font-size: 20px;
background-color: #2DABFA;
padding: 18px;
}
.repository-name{
  color: #1B400F;
  background-color: #bcd5e4;
  font-size: 20px;
  padding: 13px;
}

.list-organization, .list-repositories{
list-style: none;
display: inline-block;
align-content: flex-start;
justify-content: flex-start;
align-items: flex-start;
margin-right: 30px;
}

.list{
  list-style: none;
display: inline-block;
align-content: flex-start;
justify-content: flex-start;
align-items: flex-start;
margin-right: 30px;
}

ul{
  max-width: 900px;
}

#logout{
  min-width: 200px;
}
#pie-chart{
  max-width: 320px;
  max-height: 320px;
  margin: 0 auto;
}
.page-item{
  margin: 0 auto;
}
a.page-link{
margin: 0 auto;
}

ul.pagination{
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
}