@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;700;900&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  color:#001FB8;
}

*{
    text-align: center;
}

.error {
background-color: tomato;
color: white;
border-radius: 6px;
padding: 6px 12px;
font-weight: bold;
max-width: 400px;
margin-bottom: 18px;
}
h1{
  margin-top: 0.5rem;
  margin-left: 4rem;
  font-family: 'Livvic', sans-serif;
  font-size: 2.5rem;
  text-align: left;
  color: #1efdfe;
}
.text-primary{
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  margin: 0 auto;
}
#GitHub{
  font-size: 8rem;
  font-weight: 900;
}
#Information{
  font-weight: 700;
  color: white;
  margin-right: 0.7rem;
}
#h1Down{
position: relative;
top: -1.2rem;
}
#Dashboard{
  font-weight: 400;
}
input {
padding: 12px;
margin: 12px;
margin-left: 10px;
border: 1px solid #ccc;
box-shadow: 0 1px 4px #ccc;
border-radius: 6px;
font-size: 1.25rem;
width: 100%;
}
.landing-page{
  width: 100%;
  min-height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
#githubDescription{
  color: white;
  font-size: 1.4rem;
  position: relative;
  top: -2rem;
  left: -26rem;
  font-family: 'Livvic', sans-serif;
  font-weight: 300;
}
#secondP{
  margin-left: 4rem;
}
#thirdP{
  margin-left: 1rem;
}
#login-button{
position: relative;
left: -27rem;
top: -1rem;
}
#login-button img{
  width: 15rem;
  transition: transform 1s;
}
#login-button span{
  position: relative;
  top: 0.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  left: -12rem;
  color: #0a0141;
}

a:hover, #login-button img:hover{
  transform: scale(1.04);
  text-decoration: none;
}
.container {
box-shadow: 0 1px 6px rgb(2, 13, 78);
border-radius: 6px;
display: flex;
height: auto;
align-items: center;
justify-content: center;
flex-direction: column;
width: 400px;
padding: 22px;
margin-bottom: 50px;
}

@media (max-width: 450px){
  .container{
    width: 320px;
  }
}

.button {
background-color: teal;
border: none;
color: white;
padding: 12px;
margin: 12px 0;
box-shadow: 0 1px 6px rgb(221, 221, 221);
width: 100%;
border-radius: 6px;
font-size: 1.25rem;
}

button:hover{
  background-color: rgba(0, 128, 128, 0.739);
}

.App {
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
flex-direction: column;
}

.results-container {
margin-top: 10px;
height: auto;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.organization-name{
color:#0B070A;
font-size: 1.3rem;
background-color: #2DABFA;
width: auto;
height: 4rem;
margin: 5px auto;
}
.repository-name{
  color: #1B400F;
  background-color: #bcd5e4;
  font-size: 1.3rem;
  margin: 5px auto;
}
.organization-name:hover{
  background-color: #4ee4ff;
}
.repository-name:hover{
  background-color: #d1e7de;
}
.list-organization, .list-repositories{
list-style: none;
display: inline-block;
margin-right: 10px;
margin-left: 10px;
}

.list{
  list-style: none;
display: inline-block;
align-content: flex-start;
justify-content: flex-start;
align-items: flex-start;
margin-right: 1rem;
margin-left: 1rem;
}

.list p{
  font-size: 1.15rem;
}

.results-container ul{
  max-width: 900px;
}

#logout{
  min-width: 200px;
}
#pie-chart{
  max-width: 320px;
  max-height: 320px;
  margin: 0 auto;
}
.page-item{
  margin: 0 auto;
}
a.page-link{
margin: 0 auto;
}

ul.pagination{
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
}